<!-- Product grid  "./node_modules/bootstrap/dist/css/bootstrap.min.css" -->
<table>
    <thead>
        <tr>
            <th>Image</th>
            <th>Product Name</th>
            <th>Details</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th>Created Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <thead>
        <tr>
           <td><input type="text" placeholder="Search Products Name" [(ngModel)]="searchText" (keyup)="filterProducts()"></td>
           <td><input type="text" placeholder="Search Details" [(ngModel)]="searchDetail" (keyup)="filterProductsDetail()"></td>
           <td><input type="text" placeholder="Search Price" [(ngModel)]="searchPrice" (keyup)="filterProducts()"></td>
           <td><input type="text" placeholder="Search Date" [(ngModel)]="searchText" (keyup)="filterProducts()"></td>
        </tr>
    </thead>
    <tbody>
        <!-- Sample product rows (Replace with dynamic data) -->
       
        <tr *ngFor="let pro of filtered">
            <td><img src="" alt="Product 2"></td>
            <td>{{ pro.name }}</td>
            <td>{{ pro.details }}</td>
            <td>{{ pro.price }}</td>
            <td>{{ pro.quantity }}</td>
            <td>{{ pro.price * pro.quantity }}</td>
            <td>{{ pro.createdDate | date: 'yyyy-MM-dd' }}</td>

            <td>
                <button (click)="editProduct(pro)">Edit</button>
                <button (click)="onDelete(pro)">Delete</button>
            </td>
        </tr>
        <!-- Add more product rows as needed -->
    </tbody>
</table>
<button (click)="addNew()" >Add New</button>
<div *ngIf="shoFrom" id="addForm" class="form-container">
    <h2>Add New Product</h2>
    <form action="/submit_product" method="post">
        <label for="product_name">Product Name:</label><br>
        <input type="text" [(ngModel)]="productObj.name" id="product_name" name="product_name" required ><br><br>

        <label for="description">Details:</label><br>
        <input type="text" [(ngModel)]="productObj.details" id="product_name" name="product_details" required ><br><br>

        <label for="price">Price:</label><br>
        <input [(ngModel)]="productObj.price" id="price" name="price"  required><br><br>

        <label for="quantity">Quantity:</label><br>
        <input type="number" [(ngModel)]="productObj.quantity" id="quantity" name="quantity" required><br><br>

        <label for="quantity">Date:</label><br>
        <input type="date" [(ngModel)]="productObj.createdDate" id="date" name="date" required><br><br>
     


        <input type="submit" value="Submit" (click)="submitForm()" *ngIf="!editButton">
        <input type="submit" value="Edit" (click)="updateForm()" *ngIf="editButton" >
        <button (click)=cancleForm()>Cancle</button>
    </form>
</div>
